<!DOCTYPE html>
<html>
    <head>
        
        {%load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'online_judge/detail.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar navbar-default navbar-expand">
                <div class="container">
                    <div class="row">
                        <!--<div style="float:left;padding:0 ;"><a href="http://ec2-18-191-16-159.us-east-2.compute.amazonaws.com/online_judge/"><img src="home.png" class="img-fluid" alt="home" style="width:5%;height: 5%;display:inline;" title="home"></a> </div>
                        -->
                        <div class="pull-left"><a href="http://ec2-18-191-16-159.us-east-2.compute.amazonaws.com/online_judge/" class="d-flex align-self-center" style="color:black;"><h2><b>Home</h2></b></a></div>
                        <center> <div class="d-flex"><h2><b>{{ question.Name }}</b></h2></div></center>
                    </div>
                </div>
            </nav>
            
            


            <div class="container">
                <h3><b>Problem Statement</b></h3>
                <div>{{question.Statement|linebreaks}}</div>
            </div>
            
            <div class="container">
                <h3><b>Testcases</b></h3>
                {% for test in testcases %}
                    <h4><b>Input</b></h4>
                    <div>{{test.Input|linebreaks}}</div> 
                    <h4><b>Output</b></h4>
                    <div>{{test.Output|linebreaks}}</div>
                {% endfor %}

            </div>
            
            <div class="container">
                <form method="POST" action="/online_judge/{{ question.id }}/{{question.id}}/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" style="width: 50%;">
                    <label class="form-label" for="customFile"><h3><b>Upload Code (only in c++)</b></h3></label>
                    <input type="file" class="form-control" name="file" id="customFile" accept=".cpp" required />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
      
    </body>
</html>

