<!DOCTYPE html>
<html>
    <head>
        {%load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'online_judge/index.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar navbar-default navbar-expand">
                <div class="container d-flex">
                    <span class="pull-left d-flex">
                    <h1 class="d-flex"><b>Online Judge</b></h1>
                    </span>
                    <span class="pull-right" style="margin:auto;padding:auto;"><h3><b>Hi! {{stdname}}</b></h3></span>
                
                </div>
              </nav>
            
              <div class="container d-flex">

                
                {% if question_name %}
                    <ul class="d-flex">
                    {% for que in question_name %}
                        <li class="my-1" style="width:50%;"><a  href="/online_judge/login/signup/{{stdname}}/{{ que.id }}/"><h3><b>{{ que.Name }}</b>&nbsp;&nbsp;&nbsp;<span style="color:green;">({{que.Difficulty}})</span></h3></a>
                        </li>
                    {% endfor %}
                    </ul>
                      {% else %}
                    <p>No question are available.</p>
                {% endif %}
            


              </div>


        </div>
      
        
      
    </body>
</html>


