<!DOCTYPE html>
<html lang="en">
   <head>
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'online_judge/main-page.css' %}">     
      
      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
      <script>
         
      </script>

     
   
   </head>
   
   <body>

    <div class="wrapper">
        
        <nav class="navbar navbar-default navbar-expand">
            <div class="container">
                <div class="row">
                    <!--<div style="float:left;padding:0 ;"><a href="http://ec2-18-191-16-159.us-east-2.compute.amazonaws.com/online_judge/"><img src="home.png" class="img-fluid" alt="home" style="width:5%;height: 5%;display:inline;" title="home"></a> </div>
                    -->
                    <div class="pull-left"><a href="#" class="d-flex align-self-center" style="color:black;"><h2><b>Code Panda</h2></b></a>
                    </div>
                    <div class="pull-right" style="padding:1rem 1rem;"><a href="login/" class="d-flex align-self-center" style="color:black;"><h4><b>Login</h4></b></a>
                    </div>
                    <div class="pull-right" style="padding:1rem 1rem;"><a href="#" class="d-flex align-self-center" style="color:black;"><h4><b>Home</h4></b></a>
                    </div> 
                </div>
            </div>
        </nav>
        
            <div class="container">
                    <div class="pull-left">
                    <picture>
                        {% load static %}
                        <img src="{% static '/online_judge/motuPanda.jpg' %}" class="img-fluid img-circle" style="max-width:80%;height:20vw;"></img>
                    </picture>
                    </div>
                    <div class="pull-right">
                        <h1 style="color:red;"><b>Hello Code Panda</b></h1>
                        <h2 style="color:blue;"><b>We Code</b></h2>
                        <h2 style="color:green;"><b>We Create</b></h2>
                        <h2 style="color:orange;"><b>and We Build for Better</b></h2>
                    </div>
                    
                    
            </div>



            <footer class="page-footer navbar-fixed-bottom" style="background-color: #45637d;">
                <!-- Grid container -->
                <div class="pull-left" style="color:black;">
                    <h4>Developer: Gourav Sahu</h4>
                    <h5>Email: gouravsahu1818@gmail.com</h5>
                </div>
                <!-- Grid container -->
              
                <!-- Copyright -->
                <div class="row text-center" style="background-color: rgba(0, 0, 0, 0.1); color:black;"><br>
                  © 2021 Copyright:
                  <a style="color:black;" href="#">Code Panda</a>
                </div>
                <!-- Copyright -->
              </footer>
            

    </div>


       
   </body>
</html>